---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Sat, 11 Jan 2025 06:11:11 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Sat, 11 Jan 2025 06:11:11 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":0.01,"einheit":"W"},"stromverbrauch":{"wert":1050.0,"einheit":"W"},"netzeinspeisung":{"wert":0.01,"einheit":"W"},"netzbezug":{"wert":1054.688,"einheit":"W"},"speicherbeladung":{"wert":0.01,"einheit":"W"},"speicherentnahme":{"wert":11.719,"einheit":"W"},"speicherfuellstand":{"wert":1.0e-05,"einheit":"%"},"autarkie":{"wert":1.0e-05,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":3.90625,"einheit":"Wh"},"stromverbrauch":{"wert":8430.0,"einheit":"Wh"},"netzeinspeisung":{"wert":0.0,"einheit":"Wh"},"netzbezug":{"wert":8334.9609375,"einheit":"Wh"},"speicherbeladung":{"wert":0.0,"einheit":"Wh"},"speicherentnahme":{"wert":99.609375,"einheit":"Wh"},"speicherfuellstand":{"wert":0.0,"einheit":"%"},"autarkie":{"wert":1.17,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2025-01-11T06:09:57Z","electricVehicleConnected":false}'
  recorded_at: Sat, 11 Jan 2025 06:11:12 GMT
recorded_with: VCR 6.3.1
