---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Sat, 11 Jan 2025 06:38:29 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v2/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currently":{"powerGenerationInW":1.0e-05,"powerConsumptionInW":1164.11,"gridFeedInInW":1.0e-05,"gridDrawInW":1164.11423841,"batteryChargeInW":1.0e-05,"batteryDischargeInW":17.46171357616,"batteryLevelInPercent":1.0e-05,"selfSufficiencyInPercent":1.0e-05,"wallboxInW":1.0e-05},"today":{"powerGenerationInWh":3.90625,"powerConsumptionInWh":8902.34,"gridFeedInInWh":0.0,"gridDrawInWh":8796.875,"batteryChargeInWh":0.0,"batteryDischargeInWh":105.46875,"batteryLevelInPercent":1.0e-05,"selfSufficiencyInPercent":1.18,"wallboxInWh":0.0},"timestamp":"2025-01-11T06:35:05Z","electricVehicleConnected":false}'
  recorded_at: Sat, 11 Jan 2025 06:38:29 GMT
recorded_with: VCR 6.3.1
