---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Mon, 22 Jan 2024 10:08:10 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<steuereinheitnummer>","gehaeusenummer":"<gehaeusenummer>","strasse":"<strasse>","hausnummer":"<hausnummer>","postleitzahl":"<postleitzahl>","ort":"<ort>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Mon, 22 Jan 2024 10:08:10 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":835.3960000000001,"einheit":"W"},"stromverbrauch":{"wert":1050.0,"einheit":"W"},"netzeinspeisung":{"wert":23.205,"einheit":"W"},"netzbezug":{"wert":5.801,"einheit":"W"},"speicherbeladung":{"wert":0.01,"einheit":"W"},"speicherentnahme":{"wert":203.048,"einheit":"W"},"speicherfuellstand":{"wert":1.0E-5,"einheit":"%"},"autarkie":{"wert":99.45,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":1722.65625,"einheit":"Wh"},"stromverbrauch":{"wert":9990.0,"einheit":"Wh"},"netzeinspeisung":{"wert":113.28125,"einheit":"Wh"},"netzbezug":{"wert":8470.21484375,"einheit":"Wh"},"speicherbeladung":{"wert":355.95703125,"einheit":"Wh"},"speicherentnahme":{"wert":275.390625,"einheit":"Wh"},"speicherfuellstand":{"wert":0.01507613342255354,"einheit":"%"},"autarkie":{"wert":15.26,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2024-01-22T10:07:04Z","electricVehicleConnected":false}'
  recorded_at: Mon, 22 Jan 2024 10:08:11 GMT
recorded_with: VCR 6.2.0
