---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Mon, 29 Jan 2024 16:19:47 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Mon, 29 Jan 2024 16:19:48 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":46.565000000000005,"einheit":"W"},"stromverbrauch":{"wert":880.0,"einheit":"W"},"netzeinspeisung":{"wert":23.282,"einheit":"W"},"netzbezug":{"wert":0.01,"einheit":"W"},"speicherbeladung":{"wert":0.01,"einheit":"W"},"speicherentnahme":{"wert":873.086,"einheit":"W"},"speicherfuellstand":{"wert":83.83837890625,"einheit":"%"},"autarkie":{"wert":100.0,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":26320.3125,"einheit":"Wh"},"stromverbrauch":{"wert":17850.0,"einheit":"Wh"},"netzeinspeisung":{"wert":7910.15625,"einheit":"Wh"},"netzbezug":{"wert":4581.54296875,"einheit":"Wh"},"speicherbeladung":{"wert":10058.10546875,"einheit":"Wh"},"speicherentnahme":{"wert":4922.36328125,"einheit":"Wh"},"speicherfuellstand":{"wert":33.494361877441406,"einheit":"%"},"autarkie":{"wert":74.34,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2024-01-29T16:17:14Z","electricVehicleConnected":false}'
  recorded_at: Mon, 29 Jan 2024 16:19:49 GMT
recorded_with: VCR 6.2.0
