---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Mon, 29 Jan 2024 16:19:50 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/123456/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 401
      message: ''
    headers:
      content-type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: 'HTTP 401 '
  recorded_at: Mon, 29 Jan 2024 16:19:50 GMT
recorded_with: VCR 6.2.0
