---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Fri, 23 Aug 2024 10:10:26 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Fri, 23 Aug 2024 10:10:26 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":7475.083,"einheit":"W"},"stromverbrauch":{"wert":740.0,"einheit":"W"},"netzeinspeisung":{"wert":6400.54,"einheit":"W"},"netzbezug":{"wert":0.01,"einheit":"W"},"speicherbeladung":{"wert":385.434,"einheit":"W"},"speicherentnahme":{"wert":0.01,"einheit":"W"},"speicherfuellstand":{"wert":65.65656280517578,"einheit":"%"},"autarkie":{"wert":100.0,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":14414.0625,"einheit":"Wh"},"stromverbrauch":{"wert":5550.0,"einheit":"Wh"},"netzeinspeisung":{"wert":11679.6875,"einheit":"Wh"},"netzbezug":{"wert":122.0703125,"einheit":"Wh"},"speicherbeladung":{"wert":575.1953125,"einheit":"Wh"},"speicherentnahme":{"wert":3265.625,"einheit":"Wh"},"speicherfuellstand":{"wert":73.34455108642578,"einheit":"%"},"autarkie":{"wert":97.8,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2024-08-23T10:09:15Z","electricVehicleConnected":false}'
  recorded_at: Fri, 23 Aug 2024 10:10:27 GMT
recorded_with: VCR 6.3.1
