---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Tue, 06 Aug 2024 15:19:50 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Tue, 06 Aug 2024 15:19:50 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":2514.487,"einheit":"W"},"stromverbrauch":{"wert":1280.0,"einheit":"W"},"netzeinspeisung":{"wert":838.1619999999999,"einheit":"W"},"netzbezug":{"wert":104.77,"einheit":"W"},"speicherbeladung":{"wert":541.313,"einheit":"W"},"speicherentnahme":{"wert":23.282,"einheit":"W"},"speicherfuellstand":{"wert":98.9898910522461,"einheit":"%"},"autarkie":{"wert":91.82,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":44906.25,"einheit":"Wh"},"stromverbrauch":{"wert":10120.0,"einheit":"Wh"},"netzeinspeisung":{"wert":16437.5,"einheit":"Wh"},"netzbezug":{"wert":1162.109375,"einheit":"Wh"},"speicherbeladung":{"wert":3925.29296875,"einheit":"Wh"},"speicherentnahme":{"wert":3589.84375,"einheit":"Wh"},"speicherfuellstand":{"wert":81.1155014038086,"einheit":"%"},"autarkie":{"wert":96.15,"einheit":"%"},"wallbox":{"wert":20070.0,"einheit":"Wh"}},"zeitstempel":"2024-08-06T15:17:15Z","electricVehicleConnected":false}'
  recorded_at: Tue, 06 Aug 2024 15:19:51 GMT
recorded_with: VCR 6.2.0
