---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Thu, 12 Jun 2025 10:47:07 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Thu, 12 Jun 2025 10:47:08 GMT
[...]
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v2/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currently":{"powerGenerationInW":7988.99501661,"powerConsumptionInW":0.0,"gridFeedInInW":1565.09551495,"gridDrawInW":0.00001,"batteryChargeInW":198.5568936877,"batteryDischargeInW":99.27844684385,"batteryLevelInPercent":79.7979736328125,"selfSufficiencyInPercent":100.0,"wallboxInW":5932.226},"today":{"powerGenerationInWh":22230.46875,"powerConsumptionInWh":5335.93,"gridFeedInInWh":15507.8125,"gridDrawInWh":82.03125,"batteryChargeInWh":694.82421875,"batteryDischargeInWh":2105.95703125,"batteryLevelInPercent":79.7979736328125,"selfSufficiencyInPercent":98.46,"wallboxInWh":2973.0},"timestamp":"2025-06-12T10:43:10Z","electricVehicleConnected":false}'
  recorded_at: Thu, 12 Jun 2025 10:47:08 GMT
recorded_with: VCR 6.3.1
