---
http_interactions:
- request:
    method: get
    uri: https://sso.senec.com/realms/senec/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"issuer":"https://sso.senec.com/realms/senec","authorization_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/auth","token_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token","introspection_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token/introspect","userinfo_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/userinfo","end_session_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/logout","frontchannel_logout_session_supported":true,"frontchannel_logout_supported":true,"jwks_uri":"https://sso.senec.com/realms/senec/protocol/openid-connect/certs","check_session_iframe":"https://sso.senec.com/realms/senec/protocol/openid-connect/login-status-iframe.html","grant_types_supported":["authorization_code","client_credentials","implicit","password","refresh_token","urn:ietf:params:oauth:grant-type:device_code","urn:ietf:params:oauth:grant-type:token-exchange","urn:ietf:params:oauth:grant-type:uma-ticket","urn:openid:params:grant-type:ciba"],"acr_values_supported":["0","1"],"response_types_supported":["code","none","id_token","token","id_token
        token","code id_token","code token","code id_token token"],"subject_types_supported":["public","pairwise"],"prompt_values_supported":["none","login","consent"],"id_token_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"id_token_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"id_token_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"userinfo_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512","none"],"userinfo_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"userinfo_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"request_object_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512","none"],"request_object_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"request_object_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"response_modes_supported":["query","fragment","form_post","query.jwt","fragment.jwt","form_post.jwt","jwt"],"registration_endpoint":"https://sso.senec.com/realms/senec/clients-registrations/openid-connect","token_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"],"token_endpoint_auth_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"introspection_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"],"introspection_endpoint_auth_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"authorization_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"authorization_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"authorization_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"claims_supported":["aud","sub","iss","auth_time","name","given_name","family_name","preferred_username","email","acr"],"claim_types_supported":["normal"],"claims_parameter_supported":true,"scopes_supported":["openid","meinsenec","roles","sso_charging_disclaimer","bsr-senec-meinsenec","sams.has-logged-in","microprofile-jwt","ems-maintenance-task.execute","sso_forecast_charging_settings","support","sams.sync-user-status","sso_restart_doi","basic","sso_set_password","service_partner_s4c_aud","web-origins","phone","ems-config.read","service_account","address","email","addonpackage-adhoc-redemption","sso_charging_warranty","offline_access","profile","acr","federated-identities"],"request_parameter_supported":true,"request_uri_parameter_supported":true,"require_request_uri_registration":true,"code_challenge_methods_supported":["plain","S256"],"tls_client_certificate_bound_access_tokens":true,"dpop_signing_alg_values_supported":["PS384","ES384","RS384","ES256","RS256","ES512","PS256","PS512","RS512"],"revocation_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/revoke","revocation_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"],"revocation_endpoint_auth_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"backchannel_logout_supported":true,"backchannel_logout_session_supported":true,"device_authorization_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/auth/device","backchannel_token_delivery_modes_supported":["poll","ping"],"backchannel_authentication_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/ext/ciba/auth","backchannel_authentication_request_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","ES256","RS256","ES512","PS256","PS512","RS512"],"require_pushed_authorization_requests":false,"pushed_authorization_request_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/ext/par/request","mtls_endpoint_aliases":{"token_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token","revocation_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/revoke","introspection_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token/introspect","device_authorization_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/auth/device","registration_endpoint":"https://sso.senec.com/realms/senec/clients-registrations/openid-connect","userinfo_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/userinfo","pushed_authorization_request_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/ext/par/request","backchannel_authentication_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/ext/ciba/auth"},"authorization_response_iss_parameter_supported":true}'
  recorded_at: Tue, 29 Jul 2025 09:29:34 GMT
- request:
    method: get
    uri: https://sso.senec.com/realms/senec/protocol/openid-connect/auth?client_id=endcustomer-app-frontend&code_challenge=FILTERED_CODE_CHALLENGE&code_challenge_method=S256&redirect_uri=senec-app-auth%3A%2F%2Fkeycloak.prod&response_type=code&scope=roles%20meinsenec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html;charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: "    <!DOCTYPE html>\n    <html lang=\"en\">\n\n    <head>\n        <meta
        charset=\"UTF-8\">\n        <title>\n        Login - SENEC\n        </title>\n
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \       <link rel=\"stylesheet\" href=\"/resources/jkvmr/login/senec/css/styles.css?v=2.3\">\n
        \       <script type=\"importmap\">\n            {\n                \"imports\":
        {\n                    \"rfc4648\": \"/resources/jkvmr/common/keycloak/vendor/rfc4648/rfc4648.js\"\n
        \               }\n            }\n        </script>\n        <script type=\"module\"
        src=\"/resources/jkvmr/login/senec/js/passwordVisibility.js\"></script>\n
        \       <script type=\"module\">\n            import { startSessionPolling
        } from \"/resources/jkvmr/login/senec/js/authChecker.js\";\n\n            startSessionPolling(\n
        \               \"/realms/senec/login-actions/restart?client_id[...]
- request:
    method: post
    uri: https://sso.senec.com/realms/senec/login-actions/authenticate?client_data=FILTERED_CLIENT_DATA&client_id=endcustomer-app-frontend&execution=FILTERED_EXECUTION&session_code=FILTERED_SESSION_CODE&tab_id=FILTERED_TAB_ID
    body:
      encoding: US-ASCII
      string: username=FILTERED_EMAIL&password=FILTERED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html;charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |2
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="UTF-8">
                <title>
                Login - SENEC
                </title>
                <meta name="viewport" content="width=de[...]
