---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Mon, 11 Dec 2023 10:44:59 GMT
recorded_with: VCR 6.2.0
